resources/FontAwesome.ttf
resources/OpenSans-Bold.ttf
resources/OpenSans-BoldItalic.ttf
resources/OpenSans-ExtraBold.ttf
resources/OpenSans-ExtraBoldItalic.ttf
resources/OpenSans-Italic.ttf
resources/OpenSans-Light.ttf
resources/OpenSans-LightItalic.ttf
resources/OpenSans-Regular.ttf
resources/OpenSans-Semibold.ttf
resources/OpenSans-SemiboldItalic.ttf
resources/Univers-Black.ttf
resources/Univers-Light-Normal.ttf
appSettings.xml
context.properties
middleware.properties
projectsplash.xml
windowsViews.xml
